# Secrets
.env
.env.test


# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Logs
*.log

# Java
*.class

# IDE - IntelliJ
.idea/
*.iml

# IDE - Eclipse
.project
.classpath
.settings/

# IDE - VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db